.fontall{
  width:100%;
  height:100%;
  left:0;
  top:0;
  position:fixed;
  z-index:10;
}

.fontall .fontinner{
  border:1px solid #0f7fdb;
  box-shadow:10px 10px 10px #d6d6d6;
  box-sizing:border-box;
  cursor:default;
  height:498px;
  width:438px;
  margin:0 auto;
  top:100px;
  position:relative;
  user-select:none;
}

.fontall .fonttop{
  background-color:white;
  font-size:14px;
  height:30px;
}

.fontall .title{
  left:10px;
  line-height:30px;
  position:absolute;
  margin:0;
}

.fontall .close-btn{
  color:gray;
  line-height:30px;
  position:absolute;
  right:0;
  text-align:center;
  width:30px;
}
.fontall .main{
 height:466px;
  background-color:#f0f0f0;
}

.fontall .main .font-family{
  display:inline-block;
  font-size:13px;
  width:176px;
  margin-left:15px;
  margin-right:16px;
  height:153px;
}
.fontall .main .font-family input{
  width:172px;
}

.fontall .main .font-family .aa{
  width:174px;
  height:114px;
  overflow-y:scroll;
  background-color:white;
  border:1px solid gray;
}

.fontall .main .font-style{
  display:inline-block;
  font-size:13px;
  width:132px;
  margin-right:16px;
  height:153px;
}
.fontall .main .font-style .bb{
  width:130px;
  height:114px;
  overflow-y:scroll;
  background-color:white;
  border:1px solid gray;
}
.fontall .main .font-style input{
  width:128px;
}
.fontall .main .font-size{
  display:inline-block;
  font-size:13px;
  width:64px;
  height:153px;
}
.fontall .main .font-size .cc{
  width:62px;
  height:114px;
  overflow-y:scroll;
  background-color:white;
  border:1px solid gray;
}
.fontall .main .font-size input{
  width:60px;
}

.item{
  padding:1px 2px 1px 2px;
}

.fontall .main .example{
  margin-top:35px;
  width:217px;
  height:94px;
  margin-left:20px;
}
.example legend{
  margin-left:20px;
  font-size:13px;
}
.example p{
  margin:10px 0 0 20px;
  font-size:21px;
}

.foot{
  font-size:13px;
  margin-left:20px;
  margin-top:20px;
}

.foot select{
  width:150px;
}

.yes{
  width:86px;
  height:28px;
  position:absolute;
  right:120px;
  bottom:20px;
}
.no{
  width:86px;
  height:28px;
  position:absolute;
  bottom:20px;
  right:20px;
}
